@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

:root {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  color: white;
}

canvas {
  touch-action: none;
}